.rich {
    position: relative;
    max-height: 100vh;

    display: flex;
    align-items: center;

    margin: 0.5rem 0;
    padding: 0.3rem 1rem;
    border-radius: 0.2rem;
    border: 0.1rem solid rgb(63, 61, 61);
    background-color: #7eb890b1;

    font-size: 12px;

    overflow: auto;
  }

  .deleteBtn {
    position: absolute;
    top: 50%;
    right: 0.2rem;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1.5rem;

    cursor: pointer;
  }

  .iconBin {
    height: 0.8rem;
    pointer-events: none;
  }