.word {
    display: flex;

    margin: 0.5rem 0;
    padding: 0.3rem 1rem;
    box-shadow: 0 1px 3px #575555 inset;
    border-radius: 0.2rem;
    background-color: aliceblue;

    cursor: pointer;
}

.currentWord {
    background-color: rgb(187, 153, 153);
}