.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}



.scroll {
  height: 100vh;
  overflow: auto;
}


.btn {
  min-width: 7rem;
  background-color:#0a0a23;
  color: #fff;
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  padding: 0.2rem 1rem;
  margin: 1rem;
}

.btn:hover {
  background-position: right center;
}